#but{
    width: 410px;
    height: 50px;
    font-size: 20px;
}
.result{
    text-align: center;
    margin : 3px;
    border : 3px solid blue;
    height: 50px;
    width: 55px;
    display:inline-block;zoom:1;.display:inline;
    font-size: 27px;
}


span{
    text-align: center;
}

fieldset{
    text-align: center;
}


