<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link th:href="@{css/lotto.css}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    function Lotto(){
      var LottoSet = new Set();
      while(LottoSet.size<6){
        var lo = Math.floor(Math.random()*45)+1;
        LottoSet.add(lo);
      }
      var LottoArr = Array.from(LottoSet);

      document.getElementById("result1").innerHTML = "<span>"+LottoArr[0]+"</span>";
      document.getElementById("result2").innerHTML = "<span>"+LottoArr[1]+"</span>";
      document.getElementById("result3").innerHTML = "<span>"+LottoArr[2]+"</span>";
      document.getElementById("result4").innerHTML = "<span>"+LottoArr[3]+"</span>";
      document.getElementById("result5").innerHTML = "<span>"+LottoArr[4]+"</span>";
      document.getElementById("result6").innerHTML = "<span>"+LottoArr[5]+"</span>";

      $.ajax({
          url: "/post/lotto",
          type:"POST",
          datatype:'json',
          data :{
              lottoArr:LottoArr,
          }
      }).done(function (fragment) {
          $("#lottoTable").replaceWith(fragment);
      });

    }

  </script>

<fieldset>
    <legend class ="a"><h2>	로또 번호 생성기~!!</h2></legend>
    <img th:src="@{img/Lotto.gif}">
    <br>
    <br>
    <div class ="result" id = "result1"></div>
    <div class ="result" id = "result2"></div>
    <div class ="result" id = "result3"></div>
    <div class ="result" id = "result4"></div>
    <div class ="result" id = "result5"></div>
    <div class ="result" id = "result6"></div>
    <!-- CSS 에서 float : left; 는 가운데 정렬 안됨.. display:inline-block;zoom:1;.display:inline;  로 대체 -->
    <br>
    <br>
    <form>
        <input class = "button" id = "but" type = "button" value ="로또 번호 생성 하기" onclick ="Lotto()">
    </form>
</fieldset>
<h1>ver: 1.1.3</h1>
<table id="lottoTable" th:fragment="lottoTable">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
    </tr>
    <tr th:each="num : ${lottoNumList}">
        <td th:text="${num.one}" />
        <td th:text="${num.two}" />
        <td th:text="${num.three}" />
        <td th:text="${num.four}" />
        <td th:text="${num.five}" />
        <td th:text="${num.six}" />
    </tr>
</table>

</body>
</html>